.App {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  /* width: 100%; */
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}
.search {
  width: 80%;
  display: flex;
}

.search input {
  flex: 1;
  padding: 10px 15px;
  outline: none;
  font-size: 0.9rem;
  border: 1px solid #dddddd;
  border-radius: 5px;
}
.table {
  border-collapse: collapse;
  margin: 5px 0px;
  /* width: 100%; */
  width: 80%;
  font-size: 0.9rem;
  min-width: 400px;
  border-radius: 5px 5px 0px 0px;
  overflow: scroll;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.table th,
.table td {
  padding: 8px 15px;
}

.table tbody tr {
  border-bottom: 1px solid #dddddd;
  text-align: left;
}

.table tbody tr th {
  font-weight: 400;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.dataField th input {
  outline: none;
  border: none;
}

.dataField-edit th input {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

.actionButtons button {
  border-radius: 50%;
  outline: none;
  padding: 6px 10px;
  border: 1px solid #f3f3f3;
  margin-inline: 5px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.deleteAndEdit button {
  outline: none;
  padding: 0px;
  border: none;
  margin: 0px 5px;
  cursor: pointer;
}
.deleteAndEdit button:last-child {
  color: red;
}
.actionButtons {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.page-count-button {
  display: flex;
  align-items: center;
}
.active {
  background-color: rgb(99, 249, 249);
}
.non-active {
  background-color: #009879;
}
